<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/vaadin-ordered-layout/src/vaadin-vertical-layout.html">
<link rel="import" href="bower_components/vaadin-ordered-layout/src/vaadin-horizontal-layout.html">
<link rel="import" href="bower_components/vaadin-text-field/src/vaadin-text-field.html">
<link rel="import" href="bower_components/vaadin-text-field/src/vaadin-password-field.html">

<dom-module id="ui-form">
    <template>
<style include="shared-styles">
            :host {
                display: block;
                height: 100%;
            }
        </style>
<vaadin-horizontal-layout style="width: 100%; height: 100%; align-items: stretch; justify-content: space-between;">
 <vaadin-vertical-layout style="width: 100%; height: 100%; justify-content: flex-start;">
  <vaadin-horizontal-layout style="align-self: flex-start; justify-content: space-between; align-items: stretch;">
   <h3>SFTP Source</h3>
  </vaadin-horizontal-layout>
  <label>Ip Address :</label>
  <vaadin-text-field name="Ip Address" placeholder="Enter Ip adrress"></vaadin-text-field>
  <label>Username :</label>
  <vaadin-text-field name="Username" placeholder="Enter username"></vaadin-text-field>
  <vaadin-password-field placeholder="Enter password" label="Password"></vaadin-password-field>
  <vaadin-text-field label="Path" placeholder="Enter path"></vaadin-text-field>
  <button style="align-self: center;">Initiate</button>
 </vaadin-vertical-layout>
 <vaadin-vertical-layout style="align-items: flex-end; flex-wrap: nowrap;">
  <h3>Target</h3>
  <vaadin-text-field label="Ip Address :" placeholder="Enter Ip address"></vaadin-text-field>
  <vaadin-text-field label="Username" placeholder="Enter username"></vaadin-text-field>
  <vaadin-password-field placeholder="Enter password" label="Password"></vaadin-password-field>
  <vaadin-text-field label="Database" placeholder="Enter database name"></vaadin-text-field>
 </vaadin-vertical-layout>
</vaadin-horizontal-layout>
</template>

    <script>
        class UiForm extends Polymer.Element {
            static get is() {
                return 'ui-form';
            }

            static get properties() {
                return {
                    // Declare your properties here.
                };
            }
        }
        customElements.define(UiForm.is, UiForm);
    </script>
</dom-module>
